<h1>App Component here!</h1>

<div class="container">
  <label for="testing"></label>
  <input type="text" name="testing" [(ngModel)]="name"> 

  <p> {{name}} </p>

</div>

<app-server></app-server>

<app-green></app-green>
<app-red></app-red>
<app-yellow></app-yellow>
